fastapi
uvicorn
anthropic
langchain
langchain-anthropic
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-core
langchain-pinecone
pinecone-client
africastalking
langgraph
python-dotenv
python-multipart
httpx
google-api-python-client
google-auth-oauthlib
langsmith
sentence-transformers
pdfplumber